<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.justcode.hxl.viewaction">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyAPP"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".shuxingdonghua.Main2Activity" />
        <activity android:name=".gesture.GestureActivity" />
        <activity android:name=".remoteview.NotifyActivity" />
        <activity android:name=".remoteview.PendingActivity" />

        <receiver android:name=".remoteview.MyAppWidgetProvider">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_provider_info" />

            <intent-filter>
                <action android:name="com.justcode.hxl.viewaction.remoteview.ACTION" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
        </receiver>

        <activity android:name=".path.taoxin.TaoxinActivity" />
        <activity android:name=".path.gouwuche.GouwucheActivity" />
        <activity android:name="com.justcode.hxl.仿微信查看照片.PhotoViewerActivity" />
        <activity android:name=".viewdonghua.ViewDonghuaActivity" />
        <activity android:name=".acticitychange.Change1Activity" />
        <activity android:name=".acticitychange.ChangeHomeActivity" />
        <activity android:name=".acticitychange.ExplodeActivity" />
        <activity android:name=".acticitychange.SlideActivity" />
        <activity android:name=".acticitychange.FadeActivity" />
        <activity android:name=".acticitychange.SharedElementActivity"></activity>
    </application>

</manifest>